@tailwind base;
@tailwind components;
@tailwind utilities;

.neon--heading {
  font-size: 50px;
  color: #ffffff;
  text-shadow:
    0 0 5px #bba617,
    0 0 10px #bba617,
    0 0 15px #bba617,
    0 0 20px #bba617,
    0 0 30px #bba617,
    0 0 40px #bba617;
}

.neon--red {
  color: #ffffff;
  text-shadow:
    0 0 7px #EE360E,
    0 0 10px #EE360E,
    0 0 21px #EE360E,
    0 0 42px #EE360E,
    0 0 82px #EE360E,
    0 0 92px #EE360E,
    0 0 102px #EE360E,
    0 0 151px #EE360E
}

.neon--purple {
  color: #ffffff;
  text-shadow:
      0 0 7px #F504F9,
      0 0 10px #F504F9,
      0 0 21px #F504F9,
      0 0 42px #F504F9,
      0 0 82px #F504F9,
      0 0 92px #F504F9,
      0 0 102px #F504F9,
      0 0 151px #F504F9
}

.neon--blue {
  color: #7afcff;
  text-shadow:
      0 0 7px #0E41EE,
      0 0 10px #0E41EE,
      0 0 21px #0E41EE,
      0 0 42px #0E41EE,
      0 0 82px #0E41EE,
      0 0 92px #0E41EE,
      0 0 102px #0E41EE,
      0 0 151px #0E41EE;
}
