.neon-glow-edit {
  color: #ffb6c1; /* Light pink text color */
  text-shadow:
      0 0 7px #ffb6c1,
      0 0 10px #ffb6c1,
      0 0 21px #ffb6c1,
      0 0 42px #ff69b4,
      0 0 82px #ff69b4,
      0 0 92px #ff69b4,
      0 0 102px #ff69b4,
      0 0 151px #ff69b4
}

.neon-glow-name {
  color: #7afcff; /* Light blue color */
  text-shadow:
      0 0 7px #7afcff,
      0 0 10px #7afcff,
      0 0 21px #7afcff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa; /* Multiple shadows to create the neon glow effect */
}

